.big-font{
  font-size: 30px !important;
}
.glow {
  text-shadow: 0 0 5px #fff;
}
h3 { transition-duration: 500ms }
.logo{
  img{
    height: 25px;
    width: 25px;
    top: -3px;
    position: relative;
  }
}
.user-panel{
  .info{
    left: 0px !important;
  }
  .status_row{
    padding-top: 3px;
    padding-bottom: 3px;
    .status_label{
      color: #b8c7ce;

    }
    .status_value{

    }
  }

  height: 170px;
}
.dropdown-menu{
  li {
    a {
      cursor: pointer;
    }
  }
}