.big-font{
  font-size: 30px !important;
}
.glow {
  text-shadow: 0px 0px 5px #fff;
}
h3 { transition-duration: 500ms }

.user-panel{
  .info{
    left: 0px !important;
  }
  .status_row{
    padding-top: 3px;
    padding-bottom: 3px;
    .status_label{
      color: #b8c7ce;

    }
    .status_value{

    }
  }

  height: 100px;
}
