.skin-blue {
  .main-header {
    .navbar {
      background-color: #3c8dbc;
      .nav {
        > li > a {
          color: #fff;
          &:hover, &:active, &:focus {
            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
          }
        }
        .open > a {
          background: rgba(0, 0, 0, 0.1);
          color: #f6f6f6;
          &:hover, &:focus {
            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0, 0, 0, 0.1);
          background-color: #367fa9;
        }
        color: #fff;
      }
    }
    .logo {
      background-color: #367fa9;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #357ca5;
      }
    }
    li.user-header {
      background-color: #3c8dbc;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper, .main-sidebar, .left-side {
    background-color: #222d32;
  }
  .user-panel > .info {
    color: #fff;
    > a {
      color: #fff;
    }
  }
  .sidebar-menu > li {
    &.header {
      color: #4b646f;
      background: #1a2226;
    }
    > a {
      border-left: 3px solid transparent;
    }
    &:hover > a, &.active > a {
      color: #fff;
      background: #1e282c;
      border-left-color: #3c8dbc;
    }
    > .treeview-menu {
      margin: 0 1px;
      background: #2c3b41;
    }
  }
  .sidebar a {
    color: #b8c7ce;
    &:hover {
      text-decoration: none;
    }
  }
  .treeview-menu > li {
    > a {
      color: #8aa4af;
    }
    &.active > a, > a:hover {
      color: #fff;
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
    input[type="text"], .btn {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    input[type="text"] {
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
        + .input-group-btn .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
  &.layout-top-nav .main-header > .logo {
    background-color: #3c8dbc;
    color: #fff;
    border-bottom: 0 solid transparent;
    &:hover {
      background-color: #3b8ab8;
    }
  }
}

@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li {
    &.divider {
      background-color: rgba(255, 255, 255, 0.1);
    }
    a {
      color: #fff;
      &:hover {
        background: #367fa9;
      }
    }
  }
}