name: Codespell

on:
  push:
    branches:
      - "**"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  spell-check:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false

      - name: Spell-Checking
        uses: codespell-project/actions-codespell@master
        with:
          ignore_words_file: .codespellignore
          skip: ./vendor,./package.json,./package-lock.json
