name: Tests

on:
  push:
    branches:
      - devel
      - master
  pull_request:
    branches:
      - "**"

env:
  FORCE_COLOR: 2

jobs:
  run:
    name: Node
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: npm

      - name: Install npm dependencies
        run: npm ci

      - name: Run tests
        run: npm run testpr
